.card {
  padding: 48px;
  margin: 32px;
  max-width: 600px;
}

.App {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.match-select-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.label {
  font-weight: bold;
  font-size: 14pt;
}
